/power_consumtion_final-Copy1.ipynb
/power_consumtion_final_v2.ipynb
/power_consumtion_final.ipynb
/household_power_consumption.txt
/paris_weather.csv
/.idea/misc.xml
/.idea/modules.xml
/.idea/power_consumption.iml
/.ipynb_checkpoints/power_consumtion_final-checkpoint.ipynb
/.ipynb_checkpoints/power_consumtion_final-Copy1-checkpoint.ipynb
/.ipynb_checkpoints/power_consumtion_final_v2-checkpoint.ipynb
/.ipynb_checkpoints/power_consumtion_final_v3-checkpoint.ipynb
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/.gitignore
